*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(242, 244, 247);
}
.button{
    float: right;
    position: absolute;
    top: 5%;
    right:-5%;
    transform: translate(-50%,-50%);
}
.btn{
    text-decoration: none;
    color:white ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 34px 23px;
}
.btn:hover{

 color: rgb(38, 220, 233);
}
.pic img{
    height: 100vh;
    margin: -80px -24px;
    position: absolute;
    left: 13%;
}
.name{
    color: #fff;
    font-size: 50px;
    font-family:Rockwell Extra Bold;
    text-align: left;
    padding: 15px 64px;
}
.block{
    background-color: rgb(9, 1, 26);
    height: 80px;

    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
.bio p{
    color: rgb(8, 8, 8);
    font-size: 90px;
    font-family:cursive;
    position: absolute;
    border: 80px;
    right: 15%;
    top:40%;
}
#bio1{
    font-size: 20px;
    top: 54%;
    right:11.5%;
}
#bio2{
    font-size: 30px;
    top: 40%;
    right:25%;

}
.love img{
    height: 20px;
    position: absolute;
    top: 42%;
    left: 24.5%;

}
#bio3{
    top: 39%;
    left: 16%;
}
#bio4{
    font-size: 33px;
    top: 39%;
    left: 19%;
}
#bio5{
    font-size: 20px;
    top: 53%;
    left: 16.5%;
}
@media(max-width:725px){
.pic img {
    height: 44vh;
    margin: -80px -24px;
    position: absolute;
    left:-8%;
    top: 18%;
}
.block{
    background-color: rgb(9, 1, 26);
    height: 80px;
    width: 360px;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}   
.name{
   color: #fff;
   font-size: 30px;
   font-family: Rockwell Extra Bold;
   text-align: left;
   padding: 12px 21px;
}
.btn{
text-decoration: none;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-size: 17px;
   padding: 5px 22px;
}
.button{
    float: right;
    position: absolute;
    top: 10%;
    right: -36%;
    transform: translate(-50%,-50%);
}
.bio p {
    color: rgb(8, 8, 8);
    font-size: 55px;
    font-family: cursive;
    position: absolute;
    border: 80px;
    right: 3%;
    top: 73%;
}
#bio3 {
    top: 56%;
    left: 5%;
}
#bio4 {
    font-size: 18px;
    top: 54.5%;
    left: 10%;
}
.love img {
    height: 16px;
    position: absolute;
    top: 55.5%;
    left: 26%;
}
#bio5 {
    font-size: 16px;
    top: 63%;
    left: 3.5%;
}
#bio1 {
    font-size: 18px;
    top: 83%;
    right: 3.5%;
}
#bio2 {
    font-size: 22px;
    top: 73%;
    right: 31%;
}




